<!-- about.html -->
<div class="container">
    <div class="row">
      <input type="text" search-filter-directive="callRestService()">
    </div>
    <div class="row">
        <div class="col-md-2" >
            <products-filter-list-directive></products-filter-list-directive>
        </div>

        <div class="col-md-10">
            <list-group items="colors"></list-group>
             SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH
    
            SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH    SDFKJ;ASDH
            SDFKJ;ASDH
            SDFKJ;ASDH










        </div>
        
    </div>
</div>