
<link rel="stylesheet" href="app/components/directives/footer/footer.scss"/>


    <div class="container">
        <p class="text-center">
            <a href="https://www.facebook.com/iangels.co/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://twitter.com/iangelscrowd" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://github.com/pushqin/AngularTeaShop2" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://www.iangels.co" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </p>
        <p class="text-center">
            Contact information:
            <a href="http://marvel.com/characters/25/hulk" target="_blank">thereisnoonetheredon'teventry@gmail.com</a>
        </p>
    </div>
