<!-- about.html -->

<link rel="stylesheet" href="app/components/productsFilterList/productsFilterList.scss"/>

    <div class="row">
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
        <div class="col-md-12">
            Type1
        </div>
    </div>