<!-- about.html -->

<link rel="stylesheet" href="app/components/home/home.scss"/>

<div class="container">
    
    <div class="row text-center">
        <img src="assets/images/icon.png">
    </div>
    
    <div class="row text-center">
       OUR BEST TEAS
    </div>
    
    <section class="products">
        <tea-card-directive></tea-card-directive>
        <tea-card-directive></tea-card-directive>
        <tea-card-directive></tea-card-directive>
        <tea-card-directive></tea-card-directive>
        <tea-card-directive></tea-card-directive>
        <tea-card-directive></tea-card-directive>
    </section>
    
</div>