 md-grid-tile {
  transition: all 300ms ease-out 50ms; }

md-grid-tile md-icon {
  padding-bottom: 32px; }

md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }

md-grid-tile-footer figcaption {
  width: 100%; }

md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }